
header {
  background: #fff;
  border-bottom: 3px solid #FFAD5C;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.spin {
    width: 100px;
    height: 100px;
    margin: 5px;
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hit-the-floor {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 
    0 1px 0 #ccc, 
    0 2px 0 #c9c9c9, 
    0 3px 0 #bbb, 
    0 4px 0 #b9b9b9, 
    0 5px 0 #aaa, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
}

.parallax{
	background-image: url("../images/baby.png");
	height:600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.photocontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 300px;
}


.momcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
}


/*.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}*/

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #4A8063;
  color: white;
  transform: rotateY(180deg);
}

.contact-form {
	color: #4A8063;
	font-family: helvetica;
}

 .skip {
        position: absolute;
        top: -100px;
        left: -100px;
        height: 20px;
        width: 20px;
        text-align: left;
        overflow: hidden;
    }
    
    a.skip:active, 
    a.skip:focus, 
    a.skip:hover {
        left: 0; 
        top: 0;
        width: auto; 
        height: auto; 
        overflow: visible; 
    }


input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

button[type=submit] {
  background-color: #4A8063;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(120%);
    opacity: 0.75;
}

img:hover {
	opacity: 1.0;
}



.nav_links{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
	padding: 5px;
}

li {
	padding: 10px;
	border-right: 1px solid #4A8063;
}

.active{
	font-size: 2.5em;
}

h1 {
	color: #4A8063;
	font-family: helvetica;
	padding: 5px;
	font-size: 2em;
	margin: 0 20px;
}


h2 {
	color: #4A8063;
	font-family: helvetica;
	padding: 5px;
	font-size: 1.5em;
	margin: 0 200px;
}

p {
	font-family: helvetica;
	margin: 5px;
}

a {
	font-family: helvetica;
	color: #4A8063;
	text-decoration: none;
}

a:hover {
	/*text-decoration: underline overline wavy green;*/
	background-color: #4A8063;
	color: white;
}



main {
	margin: 0 20px;
}

footer {
	background-color: #FFAD5C;
	padding: 10px;
	text-align: center;
	font-family: helvetica;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}


@media screen and (min-width: 850px){
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav_links{
    display: flex;
  }

  .nav_item a{
    padding: 10px;
    display: flex;
  }


}


@media screen and (min-width: 770px){
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav_links{
    display: flex;
  }

  .nav_item a{
    padding: 10px;
    display: flex;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

  main {
	margin: 0 200px;
}

h1{
	margin: 0 200px;
}

}


@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .spin{
    -webkit-transition: none;
    -moz-transition: none;
    animation: none;
  }
}